<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="page-container">
  <!-- Main content -->
  <div class="content">
    <!-- Your main content goes here -->
  </div>

  <!-- Footer -->
  <footer class="footer bg-dark text-white py-4" th:fragment="footerFragment">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Контакты</h5>
          <p>Email: info@example.com</p>
          <p>Телефон: +7 (123) 456-7890</p>
        </div>
        <div class="col-md-4">
          <h5>Социальные сети</h5>
          <a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="col-md-4">
          <h5>Карта сайта</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Главная</a></li>
            <li><a href="#" class="text-white">Категории</a></li>
            <li><a href="#" class="text-white">Продавцы</a></li>
            <li><a href="#" class="text-white">Скидки</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
